.idea/
.yarn/
assets/css/*.min.css
assets/css/*.min.css.map
assets/js/apps/
assets/js/**/*.min.js
assets/js/**/*.min.js.map
dist/**
build/**
tests/wordpress
tests/wordpress-tests-lib
tests/**/*.cache
node_modules/
vendor/

*.lock
!yarn.lock
.DS_Store
.phpcs.cache
Thumbs.db
